<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Digital Trend HTML Template</title>
      <!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content="" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, maximum-scale=1"
      />

      <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
      <link rel="stylesheet" href="assets/css/aos.css" />
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
      <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />

      <!-- MAIN CSS -->
      <link rel="stylesheet" href="assets/css/templatemo-digital-trend.css" />
   </head>
</html>
