<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>404 Page Not Found!</title>
   </head>
   <body>
      <img
         style="height: 100%; width: 100%"
         src="assets/images/404.jpg"
         alt=""
      />
   </body>
</html>
